<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title>W3.CSS Template</title>-->
<!--<meta charset="UTF-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">-->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<style>-->
<!--h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}-->
<!--body {font-family: "Open Sans"}-->
<!--</style>-->
<!--</head>-->
<!--<body class="w3-blue">-->


<!--&lt;!&ndash; w3-content defines a container for fixed size centered content,-->
<!--and is wrapped around the whole page content, except for the footer in this example &ndash;&gt;-->
<!--<div class="w3-content" style="max-width:1600px">-->


<!--  &lt;!&ndash; Grid &ndash;&gt;-->
<!--  <div class="w3-row w3-padding w3-border">-->

<!--    &lt;!&ndash; Blog entries &ndash;&gt;-->
<!--    <div class="w3-col 24 s12">-->

<!--      &lt;!&ndash; Blog entry &ndash;&gt;-->
<!--      <div class="w3-container w3-blue w3-margin w3-padding-jumbo">-->
<!--        <div class="w3-center">-->
<!--          <h3>TITLE HEADING</h3>-->
<!--          <h5>Title description, <span class="w3-opacity">May 2, 2016</span></h5>-->
<!--        </div>-->

<!--        <div class="w3-justify">-->
<!--          <img src="https://p4-ofp.static.pub/ShareResource/na/landing-pages/student/heros/lenovo-education-deals-and-discounts.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">-->
<!--          <p><strong>More Hats!</strong> I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor-->
<!--            magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>-->
<!--          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>-->
<!--          <p class="w3-clear"></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr>-->
<!--</body>-->
<!--</html>-->
